.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  border: 15px solid blue;
  background-color: rgb(229, 255, 253);
}

.container > div {
  outline: 8px blue solid;
}

.timeline {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.sc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.item {
  padding: 0 15px;
}

h1 {
  color: blue;
  border-bottom: 1px solid rgb(179, 170, 170);
  padding-bottom: 15px;
  margin-bottom: 0;
}

.target {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}

.bxs-flag-checkered {
  font-size: 40px;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
}

.bxs-user {
  font-size: 20px;
}

.member {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  justify-items: start;
  align-items: center;
}

.bxs-time-five {
  font-size: 30px;
}

.time {
  border-bottom: 1px dashed gainsboro;
}

.bx-question-mark {
  font-size: 30px;
}
