@media (max-width: 820px) {
  .container {
    display: block;
  }

  h1 {
    margin-top: 0;
    padding-top: 15px;
  }

  .target {
    display: grid;
    grid-template-columns: 1fr;
  }

  .bxs-flag-checkered {
    margin-top: 20px;
  }

  .item {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .member {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .bxs-user {
    font-size: 30px;
    padding-top: 15px;
  }

  .mb {
    justify-self: start;
    padding-left: 40px;
  }

  .timeline-1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    border-bottom: 1px dashed rgb(158, 152, 152);
  }

  .time {
    border-bottom: none;
  }

  .bxs-time-five {
    padding-top: 15px;
  }

  .prj {
    margin-top: 5px;
  }

  .sc {
    display: block;
  }

  .bx-question-mark {
    padding-top: 15px;
  }
}
